faiss_cpu==1.11.0
Flask==3.1.1
flask_cors==6.0.0
google_search_results==2.4.2
numpy==2.3.0
openai==0.28.1
pandas==2.3.0
Pillow==11.2.1
python-dotenv==1.1.0
Requests==2.32.4
scikit_learn==1.7.0
serpapi==0.1.5
stripe==12.1.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.66.5
transformers==4.52.3
